<div class="container">
  <div>
    <app-page-detail-widget-page [searchObj]="{'tag': 'contactus'}" [disableActionButtions]="true">
    </app-page-detail-widget-page>
  </div>
  
  <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">ContactUS</h2>
                <div class="paragraph">
                   Please contact <a href="mailto:toliujiayi@gmail.com@gmail.com"> for any information</a>.
                </div>
            </div>
        </div>
  
  
</div>
