<div class="container" id="print-section">
  <div class="card component-main-card">
    <div class="card-header">
      <nav class="nav nav-pills">
        <a class="nav-item nav-link" routerLink="./spenrollment" routerLinkActive="active">Sign Up</a>
        <a class="nav-item nav-link" routerLink="./confirmation" routerLinkActive="active">Confirmation</a>
      </nav>
    </div>
    <div class="card-body component-main-card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>