.header {
 	background-color: #424242; /* #1975d2 */
/*  	backdrop-filter: blur(2rem);*/	
	opacity: 0.95;
	height: 67px;
	color: #E5E5E5;
	display: flex;
	width: 100%;
	font-family: Advent Pro;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	z-index: 999;
	
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #f9f9f9;
  background-color: transparent;
  text-decoration: none;
  
}

.alert {
  padding: 25px;
  adding-top: 18px;
  width: 100%;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.6s;
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  
}
.alert.info {background-color: #105EAB;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
 .logo img {
	vertical-align: middle;
} 

sup {
    font-size: 20px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.8);
	padding-top: 0;
}

.navbar-light .navbar-toggler {
	background-color: white;
	color: rgba(0, 0, 0, .5);
	border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .nav-link.active {
	color: rgba(255, 255, 255, 1)
}

.logo {
	max-width: 60px;
	vertical-align: middle;
	padding: 20px 0;
		
}

.logo-text {
	margin-left: 70px; /*logo max-width + 10 */
	color: #ffffff;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	font-size: 2rem;
	font-family: Helvetica Neue;
	display: flex;
	padding: 70px 0;
}

.logo-text span {
	color: white;
}

.nav-item {
	margin: 0 2px 0 2px;
	font-size: 1rem;
	font-family: Helvetica Neue;
}

.navbar-collapse {
	background-color: #424242; /*same with header background*/
	justify-content: flex-end;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
	position: absolute;
	width: 300px;
	top: 65px;
	right: 0;
	/* left: 0; */
	z-index: 10;
}

.navbar-collapse.show>.navbar-nav, .navbar-collapse.collapsing>.navbar-nav
	{
	padding-left: 10px;
}

.navbar {
	flex-grow: 1;
	margin-right: 1.5rem;
	padding-top: 0;
}

.auth-icon {
	margin-left: auto;
	margin-right: 2rem;
	margin-top: 0.5rem;
}

.content {
	position: relative;
	/*padding-top: 100px; same height with .header*/
	width: 100%;
	min-height: calc(100vh - 70px - 65px);
	/*viewport height substracts footer height*/
	display: flex;
	flex-direction: column;
	background-color: #F6F6F6;
}

.content-min-height {
	flex-grow: 1; /* grow to the full height*/
	background-color: #F6F6F6;;
	/* box-sizing: border-box; */
	background-clip: content-box;
}

.footer {
	background-color: white;
	color: black;
	font-size: 0.9rem;
	width: 100%;
	height: 70px;
	font-family: Helvetica Neue;
}

.contact-info {
	display: flex;
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	.logo-text {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 700px) {
	.logo-text {
		font-size: 1.1rem;
		display: none;
	}
	.footer {
		font-size: 0.7rem;
	}
}