<div class="container-fluid">
    <div class="row no-gutters hcc-row1">

        <div class="col-12 col-xl-6 mission">

            <div class="mission-title">
                HCC Members</div>
            <p style="background-color: rgb(63, 113, 162);">
                Amazingness Starts Here</p>
            <div class="button">
                <button id="join" onclick="" style="border-radius: 12px;">JOIN US!</button>
            </div>
        </div>
        <div class="col-12 col-xl-6 col picture-container">
            <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Member Picture" class="head-picture">
        </div>
    </div>

    <br>

    <h1 class="subtitle">
        Teams
    </h1>

    <div class="row team-row">
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Web Development</h2>
                <div class="paragraph">
                    The Web Development Team is the largest part of HiCoding Club, as they are in charge of all of the code that goes into the websites. In addition to this, they also provide technical support to the other teams as well as on the HiCoding Club website, and
                    finally they provide follow-up support for finished website projects. If you have any questions about the software, they’re the team to ask!



                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">UI Design</h2>
                <div class="paragraph">
                    The User Interface (UI) Design Team is tasked to make everything on the websites look good and is easy to access. They make all of the art aspects for the club, from the logo to all of the designs that you see on the website. They design everything that
                    you interact with in the website, from the drop down menus to the buttons.

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Quality Assurance</h2>
                <div class="paragraph">
                    The Quality Assurance Team is here to make sure that everything works properly before it is released to the public. They troubleshoot the websites to make sure there is nothing wrong, and they also give feedback to the Web Development Team so that the
                    Web Development Team can make the websites perfect. They go through all the trouble of testing every single button and link so that you don’t have to figure it out yourself!

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Outreach</h2>
                <div class="paragraph">
                    The outreach/public relations team is in charge of advertising the HiCoding Club to the public as well as recruiting new members. In addition, they communicate with customers to see what they want and how they want it, so that the websites can be perfect.
                    They make sure to communicate with customers during all stages of development so that the website is always on the right path. Finally, they also are in charge of all of the marketing and sales for the club.

                </div>
            </div>
        </div>
    </div>


    <!--
    <h1 class="subtitle">Board Members</h1>


    <div class="row members">
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    -->
</div>