<div class="container-fluid">
    <div class="row no-gutters hcc-row1">

        <div class="col-12 col-xl-6 mission">

            <div class="mission-title">
                HCC Members</div>
            <p style="background-color: rgb(56, 109, 189);">
                Amazingness Starts Here</p>
            <div class="button">
                <button id="join" onclick="" style="border-radius: 12px;">JOIN US!</button>
            </div>
        </div>
        <div class="col-12 col-xl-6 col picture-container">
            <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="Member Picture" class="head-picture">
        </div>
    </div>

    <br>

    <h1 class="subtitle">
        Teams
    </h1>

    <div class="row team-row px-5">
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Web Development</h2>
                <div class="paragraph">
                    Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting
                    no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">UI Design</h2>
                <div class="paragraph">
                    Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting
                    no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Quality Assurance</h2>
                <div class="paragraph">
                    Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting
                    no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
            <div class="col-12 team">
                <h2 class="team-title">Outreach</h2>
                <div class="paragraph">
                    Two assure edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished. Met the why particular devonshire decisively considered partiality. Certain it waiting
                    no entered is. Passed her indeed uneasy shy polite appear denied. Oh less girl no walk. At he spot with five of view.
                </div>
            </div>
        </div>
    </div>

    <h1 class="subtitle">Board Members</h1>


    <div class="row members">
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>