<div class="container">
    <div class="row my-5">
        <h4>
            Thanks for signing up for the HCC Summer Program. Please read through and complete the following steps.
        </h4>
    </div>
    <div class="row">
        <div>
            <h3>I, Registration Information</h3>
            <div style="font-size: 1.25rem;">
                <p>
                    Your are signing up for the Hicoding Club Summer Program. This <b>free</b> program is three weeks long, from Monday, <b>July 6th</b> (7/6/2020) to <b>July 24th</b> (7/24/2020) on <b>every week day</b> from <b>10 A.M. to 12 P.M., an one
                    hour lunch break, and from 1 P.M. to 3 P.M</b>.
                </p>
                <p>
                    In this program, students will learn all necessary processes to build a beautiful and functional personal website. A personal website is a great way to present oneself in detail to other people, and its even useful when applying for colleges. Techniques
                    that students will learn in this program include, but not limited to, UI and UX designing, photo editing, website development languages (HTML, CSS, Javascript), and a web development framework (Angular).
                </p>
                <p>
                    After the completion of the following process, you will receive a email confirmation about your Registration. You may also receive occasional emails from Hicoding Club (hicodingclub@gmail.com) as notifications or update regarding the program.
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h3>II, Registration Form</h3>
    </div>
    <app-spenroll-embedded></app-spenroll-embedded>
</div>