<div *ngIf="detail && showFields.includes('name')">
  {{detail['name']}}
</div>
<div *ngIf="detail && showFields.includes('description')">
  <div [innerHTML]="detail['description']"></div>
</div>
<div *ngIf="detail && showFields.includes('linkName')">
  {{detail['linkName']}}
</div>
<div *ngIf="detail && showFields.includes('linkURL')">
  {{detail['linkURL']}}
</div>
<div *ngIf="detail && showFields.includes('show')">{{detail['show']}}
</div>
<div *ngIf="detail && showFields.includes('order')">
  {{detail['order']}}
</div>