<div class="table-wrapper">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th class="pointer" scope="col" (click)="toggleListSort('name')"> Name <span *ngIf="listSortField === 'name'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th class="pointer" scope="col" (click)="toggleListSort('description')"> Description <span *ngIf="listSortField === 'description'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th class="pointer" scope="col" (click)="toggleListSort('linkName')"> Link Name <span *ngIf="listSortField === 'linkName'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th class="pointer" scope="col" (click)="toggleListSort('linkURL')"> Link Url <span *ngIf="listSortField === 'linkURL'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th class="pointer" scope="col" (click)="toggleListSort('show')"> Show <span *ngIf="listSortField === 'show'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th class="pointer" scope="col" (click)="toggleListSort('order')"> Order <span *ngIf="listSortField === 'order'">
            <i *ngIf="listSortOrder === 'asc'" class="fas fa-arrow-up th-sort-arrow"></i>
            <i *ngIf="listSortOrder === 'desc'" class="fas fa-arrow-down th-sort-arrow"></i>
          </span>
        </th>
        <th *ngIf="canDelete || canArchive || canUpdate || canCheck || cardHasLink || cardHasSelect" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-detail [ngForOf]="list" let-i="index">
        <tr [ngClass]="{'clicked-row': clickedId==detail['_id'],
                            'selected-row': clickItemAction === 'select' && checkedItem[i]}">
          <td scope="row" (click)="clickOneItem(i)" class="mt-3" [ngClass]="{'pointer read-more link': clickItemAction === 'detail' || false,
                                'pointer': clickItemAction === 'select'}">
            {{(page-1)*perPage+i+1}}
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              {{detail['name']}}
            </div>
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              <div [innerHTML]="detail['description']"></div>
            </div>
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              {{detail['linkName']}}
            </div>
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              {{detail['linkURL']}}
            </div>
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              {{detail['show']}}
            </div>
          </td>
          <td (click)="clickOneItem(i)" [ngClass]="{'pointer': clickItemAction}">
            <div class="">
              {{detail['order']}}
            </div>
          </td>
          <td *ngIf="includeSubDetail || cardHasLink || cardHasSelect">
            <div *ngIf="cardHasSelect" class="read-more font-size-75 my-1" (click)="selectItemSelected(i)">Select <i class="far fa-hand-pointer"></i></div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>