<div class="detail" *ngIf="detail">
  <div *ngIf="!options['disableActionButtons']">
    <div *ngIf="!disableActionButtons && !options['disableActionButtons']" class="action-buttons">
      <a *ngIf="!options['disableActionList']" [routerLink]="[listRouterLink]" class="action-go-list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
      <a *ngIf="!options['disableActionEdit']" [routerLink]="['../../edit', detail['_id'] ]" [skipLocationChange]="false" class="btn btn-outline-primary">Edit</a>
      <a *ngIf="!options['disableActionNew']" [routerLink]="['../../new']" [queryParams]="{cid: detail['_id']}" [skipLocationChange]="false" class="btn btn-outline-primary">New</a>
      <button *ngIf="!options['disableActionDelete']" class="btn btn-outline-primary" (click)="onDelete(detail['_id'], null)">Delete</button>
      <button *ngIf="!options['disableActionArchive']" class="btn btn-outline-primary" (click)="onArchive(detail['_id'], null, detail['archived'])">
        <ng-template [ngIf]="!detail['archived']">Archive</ng-template>
        <ng-template [ngIf]="detail['archived']">Unarchive</ng-template>
      </button>
      <button *ngIf="!options['disableActionPrint']" class="btn btn-outline-primary" (click)="onPrint()">Print </button>
    </div>
  </div>
  <div class="card text-left transparent-border ">
    <div class="grid-fields">
      <div class="card-header grid-head">
        <div class="grid-head-picture">
          <lib-mdds-picture-display [downloadUrl]="detail['signaturePicture']" [isLarge]="false" [aspectRatio]=""></lib-mdds-picture-display>
        </div>
        <div class="ml-1">
          <h5>
            <div class="mr-1 d-inline-block">
              {{detail['title']}}
            </div>
          </h5>
        </div>
      </div>
      <div class="card-body">
        <div>
          <div *ngIf="fieldHasValue(detail['author'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
            <div class="mr-2"><label>Author:</label></div>
            <div>
              {{detail['author']}}</div>
          </div>
        </div>
        <div>
          <div *ngIf="fieldHasValue(detail['publishDate'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
            <div class="mr-2"><label>Publish Date:</label></div>
            <div> {{detail['publishDate']? (detail['publishDate']['originalValue'] | date:'medium') : ''}}</div>
          </div>
        </div>
        <div>
          <div *ngIf="fieldHasValue(detail['content'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
            <div class="mr-2"><label>Content:</label></div>
            <div>
              <div libMddsRichtextShow="articleDetailContent" [content]="detail['content']"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!options['disablePipeline']">
  </div>
  <div *ngIf="!options['disableRefLink']">
  </div>
</div>