<div class="container">
    <div class="my-5">
        <h4>
            Thanks for taking part in the Teach4Life event. Our services include classwork and homework help, class material review, preview, test preparation, etc. Please read through and complete the following steps.
        </h4>
    </div>
    <div class="">
        <div>
            <h3>I. Registration Information</h3>
            <div style="font-size: 1.25rem;">
                <p>
                    The tutor you signed up with is: {{tutorName}}.
                </p>
                <p>
                    After the completion of the following process, we will send you an email as soon as possible, in which we can discuss the exact time of tutoring, subject, as well as payment method.
                </p>
                <p>
                    Each tutoring session is <b>45</b> minutes long, and the price is <b>$10.00 USD</b>. We will waive the price for any family with financial difficulties (please note this in the note section below).
                </p>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h3>II. Registration Form</h3>
    </div>
    <app-enroll-embedded></app-enroll-embedded>
</div>