<div class="gridview">
  <div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
    <div class="card text-left clickable-card h-100" [ngClass]="{'clicked-row': clickedId==detail['_id'],
                        'selected-row': clickItemAction === 'select' && checkedItem[i]}">
      <div class="grid-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
        <div class="card-header grid-head">
          <div>
            <h5>
              <div class="mr-1 d-inline-block">
                {{detail['description']}}
              </div>
            </h5>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="fieldHasValue(detail['content'])" class="d-flex flex-wrap">
            <div class="mr-3"><label>Content:</label></div>
            <div>
              <div libMddsRichtextShow="pageDetailContent" [content]="detail['content']"></div>
            </div>
          </div>
          <div *ngIf="fieldHasValue(detail['tag'])" class="d-flex flex-wrap">
            <div class="mr-3"><label>Tag:</label></div>
            <div>
              {{detail['tag']}}</div>
          </div>
        </div>
      </div>
      <div class="card-action-links ml-3">
        <div *ngIf="cardHasSelect">
          <span class="read-more color-success font-size-75 mt-3" (click)="selectItemSelected(i)">Select <i class="far fa-hand-pointer"></i></span>
        </div>
      </div>
    </div>
  </div>
  <i aria-hidden="true" class="grid-block"></i>
  <i aria-hidden="true" class="grid-block"></i>
</div>