<div class="container container-common">
    <section class="slogan-section">
        <div class="back-ground-full"></div>
        <img src="/assets/slogan-happy-coding.png">
        <div class="slogan-text">Hi! Let's code!</div>
        <div class="slogan-subtext">Happy coding, better life.</div>
    </section>
    <section class="mission-section">
        <div class="back-ground-full"></div>
        <div class="mission-intro">
            <div class="mission-text">Our Mission:</div>
            <div class="mission-description">HiCoding Club aims to provide web development experiences for students who love coding, and help organizations run their websites easily.</div>
        </div>
        <img class="mission-img" src="/assets/mission-website.jpg">
    </section>
</div>
