<div class="gridview">
  <div class="grid-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
    <div class="card text-left clickable-card h-100" [ngClass]="{'clicked-row': clickedId==detail['_id'],
                        'selected-row': clickItemAction === 'select' && checkedItem[i]}">
      <div class="grid-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
        <div class="card-header grid-head">
          <div class="grid-head-picture">
            <lib-mdds-picture-display [downloadUrl]="detail['photo']" [isLarge]="false" [aspectRatio]=""></lib-mdds-picture-display>
          </div>
          <div>
            <h5>
              <div class="mr-1 d-inline-block">
                {{detail['name']}}
              </div>
            </h5>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="fieldHasValue(detail['introduction'])" class="d-flex flex-wrap">
            <div class="mr-3"><label>Introduction:</label></div>
            <div>
              <div [innerHTML]="detail['introduction']"></div>
            </div>
          </div>
          <div *ngIf="fieldHasValue(detail['subjectTags'])" class="d-flex flex-wrap">
            <div class="mr-3"><label>Subject Tags:</label></div>
            <div>
              <div *ngIf="detail['subjectTags'] && detail['subjectTags']['selection']">
                <ng-template ngFor let-element [ngForOf]="detail['subjectTags']['selection']" let-idx="index">
                  <div class="badge badge-pill badge-secondary">
                    {{element}}
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action-links ml-3">
        <div *ngIf="includeSubDetail" class="read-more mr-5">
          <span class="pointer" (click)="toggleShowDetailItem(i)">
            <span *ngIf="!detail.mddsShowDetail">More <i class="fas fa-caret-down" title="More"></i></span>
            <span *ngIf="detail.mddsShowDetail">Less <i class="fas fa-caret-up" title="Less"></i></span>
          </span>
        </div>
        <div *ngIf="cardHasSelect">
          <span class="read-more color-success font-size-75 mt-3" (click)="selectItemSelected(i)">Select <i class="far fa-hand-pointer"></i></span>
        </div>
      </div>
      <div *ngIf="includeSubDetail && detail.mddsShowDetail" class="show-detail mx-1">
        <app-tutor-detail-sub [inputData]="detail['_id']"></app-tutor-detail-sub>
      </div>
      <div class="card-action-icons-container">
        <div class="card-action-icons">
          <a *ngIf="canUpdate" [routerLink]="['.']" queryParamsHandling="preserve" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a>
          <a *ngIf="canDelete" routerLink="." (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
          <a *ngIf="canArchive" routerLink="." (click)="onArchive(detail['_id'], i, archivedSearch)">
            <i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
            <i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>
          </a>
          <input *ngIf="canCheck" class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)" />
        </div>
      </div>
    </div>
  </div>
  <i aria-hidden="true" class="grid-block"></i>
  <i aria-hidden="true" class="grid-block"></i>
</div>