<div class="listview">
  <div class="list-block" *ngFor="let detail of list;  let i = index; let list_index = index;">
    <hr *ngIf="i==0" class="list-devider">
    <div class="list-card text-left clickable-card" [ngClass]="{'clicked-row': clickedId==detail['_id'],
                        'selected-row': clickItemAction === 'select' && checkedItem[i]}">
      <div class="list-info">
        <div class="list-fields" [ngClass]="{pointer: clickItemAction}" (click)="clickOneItem(i)">
          <div class="list-body-fields">
            <h5>
              <div class="mr-1 d-inline-block">
                <a routerLink="." (click)="onDisplayRefClicked('account', detail['account'], $event)">
                  {{detail['account']?detail['account']['valueMedium']:""}}
                </a>
              </div>
            </h5>
            <div>
              <div *ngIf="referenceFieldsMap['role'] != parentItem">
                <div *ngIf="fieldHasValue(detail['role'])" class="mr-3 d-inline-flex flex-wrap">
                  <div class="mr-3"><label>Role:</label></div>
                  <div>
                    <div *ngIf="detail['role'] && detail['role']['selection']">
                      <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
                        <div class="badge badge-pill badge-light">
                          <a class="pointer" (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
                            {{element.valueMedium}}
                          </a>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="card-action-links">
            <div *ngIf="cardHasSelect">
              <span class="read-more color-success font-size-75 mt-3" (click)="selectItemSelected(i)">Select <i class="far fa-hand-pointer"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action-icons">
        <a *ngIf="canUpdate" class="pointer" (click)="onEdit(detail._id)"><i class="fas fa-edit" title="Edit"></i></a>
        <a *ngIf="canDelete" class="pointer" (click)="onDelete(detail['_id'], i)"><i class="fas fa-trash-alt" title="Delete"></i></a>
        <a *ngIf="canArchive" class="pointer" (click)="onArchive(detail['_id'], i, archivedSearch)">
          <i *ngIf="!archivedSearch" class="fa fa-archive" title="Archive"></i>
          <i *ngIf="archivedSearch" class="fas fa-trash-restore" title="Unarchive"></i>
        </a>
        <input *ngIf="canCheck" class="list-check-box" type="checkbox" [ngModel]="checkedItem[i]" (click)="selectOneItem(i)" />
      </div>
    </div>
    <hr class="list-devider">
  </div>
</div>