<div *ngIf="detail">
  <div class="card text-left">
    <div class="card-body">
      <div class="card-text">
        <div class="card-body">
          <div>
            <div *ngIf="fieldHasValue(detail['grade'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
              <div class="mr-2"><label>Grade:</label></div>
              <div>
                {{detail['grade']}}</div>
            </div>
          </div>
          <div>
            <div *ngIf="fieldHasValue(detail['email'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
              <div class="mr-2"><label>Email:</label></div>
              <div>
                {{detail['email']}}</div>
            </div>
          </div>
          <div>
            <div *ngIf="fieldHasValue(detail['phoneNumber'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
              <div class="mr-2"><label>Phone Number:</label></div>
              <div>
                {{detail['phoneNumber']}}</div>
            </div>
          </div>
          <div>
            <div *ngIf="fieldHasValue(detail['acceptGrade'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
              <div class="mr-2"><label>Open to Grade:</label></div>
              <div>
                {{detail['acceptGrade']}}</div>
            </div>
          </div>
          <div>
            <div *ngIf="fieldHasValue(detail['availableTime'])" class="d-inline-flex flex-wrap mx-2" style="min-width: 160px;">
              <div class="mr-2"><label>Available Time:</label></div>
              <div>
                <div [innerHTML]="detail['availableTime']"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>