<div class="bgimg-1">
    <div class="caption">
        <div>
            <span class="border1">HCC MEMBERS</span> <br>
            <span class="border2">Amazingness starts here</span>
        </div>
    </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Join us now!</h3>
    <br>
    <div class="row">
        <div class="column" style="background-color:rgb(58, 106, 148);">
            <h2 style="color:white;">Login</h2>
            <p style="color:white;">Already a member of HiCoding Club? Access the member portal from here.
            </p>
            <br>
            <button onclick="document.location='https://hicodingclub.org:4000/auth/login'" class="shine">Sign
                In</button>
        </div>
        <div class="column" style="background-color:rgb(91, 165, 230);">
            <h2 style="color:black;">Register</h2>
            <p style="color:black;">New to HCC? Register as a new participant below! New journey awaits you!</p>
            <br>
            <button onclick="document.location='https://hicodingclub.org:4000/auth/register'" class="shine">Join!</button>
        </div>
    </div>
</div>

<div class="bgimg-2">
    <div class="caption">
        <span class="" style="background-color:transparent;font-size:35px;color: #f7f7f7;">TEAMS</span>
    </div>
</div>

<div class="team-intro-container">
    <div class="team-intro">
        <h2>Web-Development</h2>
        <p>The Web Development Team is the largest part of HiCoding Club, as they are in charge of all of the code that goes into the websites. In addition to this, they also provide technical support to the other teams as well as on the HiCoding Club website,
            and finally they provide follow-up support for finished website projects. If you have any questions about the software, they’re the team to ask!</p>
        <br>
    </div>
    <div class="team-intro">
        <h2>UI-Design</h2>
        <p>The User Interface (UI) Design Team is tasked to make everything on the websites look good, wonderful and is easy to access. They make all of the art aspects for the club, from the logo to every single one of the designs that you see on the website.
            They design everything that you interact with in the website, from the drop down menus to the buttons that you see all through the pages.</p>
        <br>
    </div>
</div>