<div *ngIf="detail && showFields.includes('account')">
  <a routerLink="." (click)="onDisplayRefClicked('account', detail['account'], $event)">
    {{detail['account']?detail['account']['valueMedium']:""}}
  </a>
</div>
<div *ngIf="detail && showFields.includes('role')">
  <div *ngIf="detail['role'] && detail['role']['selection']">
    <ng-template ngFor let-element [ngForOf]="detail['role']['selection']" let-idx="index">
      <div class="badge badge-pill badge-light">
        <a class="pointer" (click)="onDisplayRefClicked('role', detail['role']['selection'][idx], $event)">
          {{element.valueMedium}}
        </a>
      </div>
    </ng-template>
  </div>
</div>