.center {
    margin: 0;
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 46%;
    height: 0;
}

.head-picture {
    background-image: url('/assets/SPHeadPic.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.head-text {
    font-size: 4rem;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    color: white;
    font-weight: bold;
}

.sub-header {
    font-size: 3em;
    cursor: pointer;
}

.sub-header>.nav-item {
    border: 1px solid rgb(63, 113, 162);
    width: 50%;
}

.about {
    padding-top: 5rem;
    background-color: rgb(232, 232, 232);
    padding-bottom: 5rem;
}

.about-text {
    font-size: 2rem;
    color: rgb(63, 113, 162);
}

.about-text-important {
    font-weight: bold;
}

.active {
    background-color: rgb(63, 113, 162) !important;
}

.theme-color {
    background-color: rgb(63, 113, 162) !important;
}

.button-bottem {
    width: 200px;
}

.details {
    width: 700px;
    height: 990px;
}

@media screen and (max-width: 992px) {
    .head-text {
        font-size: 2rem;
    }
    .about-text {
        font-size: 1rem;
    }
    .sub-header {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .head-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .details {
        width: 100%;
        height: 100%;
    }
}