<div class="detail" *ngIf="detail">
  <div *ngIf="!options['disableActionButtons']">
    <div *ngIf="!disableActionButtons && !options['disableActionButtons']" class="action-buttons">
      <a *ngIf="!options['disableActionList']" [routerLink]="[listRouterLink]" class="action-go-list"><i class="fas fa-list" title="List"></i><!--  span>&nbsp;&nbsp;{{ItemCamelName}} List</span--></a>
    </div>
  </div>
  <div class="card text-left transparent-border " [ngStyle]="style['card']">
    <div class="grid-fields">
      <div class="card-body" [ngStyle]="style['card-body']">
        <div>
          <div libMddsRichtextShow="pageDetailContent" [content]="detail['content']"></div>
        </div>
      </div>
    </div>
  </div>
</div>